.left-image{

    width: 500px;
    float: left;
    margin-right: 10px;


}

.right-image{

    
    width: 250px;
    float: left;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;


}

.comp-image{

    width: 500px;
    





}